html {
  position: relative;
  min-height: 100%;
}
body {
	padding-bottom: 0;
  font-size: 13px;
}
#container {
  width: 100%;
  padding: 15px;
}

#overlay {
  display: none;
  background-color: black;
  position: fixed;
  left:0;
  top:0;
  height:100%;
  width:100%;
  z-index: 10;
  opacity: 0.5; /* also -moz-opacity, etc. */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #428bca;
  border-color:#357ebd
}
#footer .text-muted {
	color: white;
	margin: 20px 0;
}

#footer .text-muted a {
	color: white;
	text-decoration: underline
}

.stats-row {
  display: none;
}

.play-container thead, .play-container tbody { display: block;width:100%; }

.play-container tbody {
    height: calc(100vh - 380px); /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}

.scrollable-container {
  overflow-x: scroll;
}

.scrollable-container::-webkit-scrollbar { width: 0 !important }

.graph-container {
  height: 250px;
  background-color: #f1f1f1;
  min-width: 635px !important;
  width: 100%;
}

.hidden-chart {
  display: none;
}

.summary-table {
  display: none;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 0px;
    padding-right: 0px;
} 

.instruction-text {
  padding: 15px;
  font-size:18px;
  width:95vw;
}

.player-bar {
  margin-left: 0px;
  margin-right: 0px;

}
/* Bigger than 750 */
@media (min-width: 768px) {
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .row {
    margin-left: -5px;
    margin-right: -5px;
  }

  .instruction-text {
    padding-top:25px;
    font-size: 24px;
  }
}