html {
  position: relative;
  min-height: 100%;
}
body {
  line-height: 2.0;
  /*font-family:"brandon-grotesque-regular", "times new roman", Arial, sans-serif;*/
  font-family: "San Francisco", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

#container {
  width: 100%;
  padding: 5px 5px 0 5px;
  margin-bottom: 40px;
}

#overlay {
  display: none;
  background-color: black;
  position: fixed;
  left:0;
  top:0;
  height:100%;
  width:100%;
  z-index: 10;
  opacity: 0.5; /* also -moz-opacity, etc. */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  border-top: 2px solid #f9f9f9;
  margin-left: -15px;
  margin-right: -15px;
}

.stats-row {
  display: none;
}

.play-container thead, .play-container tbody { display: block;width:100%; }

.play-container tbody {
    height: calc(100vh - 460px);
    min-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.scrollable-container {
  overflow-x: scroll;
}

.scrollable-container::-webkit-scrollbar { width: 0 !important }

.graph-container {
  min-height: 175px;
  background-color: #f9f9f9;
  /*min-width: 635px !important;*/
  width: calc(100% - 10px);
  margin-left: 10px;
}

.hidden-chart {
  display: none;
}

.summary-table {
  display: none;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 0px;
    padding-right: 0px;
} 

.instruction-text {
  padding: 15px 15px 0 15px;
  margin: 0;
  font-size:18px;
  width:95vw;
  font-weight: 400;
}

.player-bar {
  margin-left: calc(100% - 405px);
  margin-right: 5px;
  float: right;
}

.form-control {
  padding: 0;
}

.row {
  margin-left: -5px;
  margin-right: -5px;
}

.highcharts-stack-labels text {
  display: none;
}

#playerSelect2, #playerSelect1 {
  max-width: calc(100vw - 195px);
}

table.table-condensed {
  margin-bottom: 0;
}
/* Bigger than 750 */
@media (min-width: 768px) {

  #container {
    padding: 15px 15px 0 15px;
  }

  #playerSelect2, #playerSelect1 {
    max-width: 240px;
  }
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .input-container {
    margin-right: 5px;
  }

  .player-bar {
    float: right;
    width: auto;
    margin-left: 5px;
  }

  .graph-container {
    height: 250px;
  }

  .form-control {
    padding: 6px 12px;
  }

  .instruction-text {
    padding-top:25px;
    font-size: 24px;
  }

  .highcharts-stack-labels text {
    display: block;
  }
}