{% extends "layout.html" %}
{% block content %}
	<div id="container" class="container">
		<div class="row">
			<form id="form1" class="form1 player-bar hidden">
				<div class="pull-left input-container">
					<select class="form-control" id="yearSelect1">
						<option value="2015" selected>2015</option>
						<option value="2014">2014</option>
						<option value="2013">2013</option>
						<option value="2012">2012</option>
					</select>
				</div>
				<div class="pull-left input-container">
					<select class="form-control" id="typeSelect1">
						<option value="rushing">Rush</option>
						<option value="receiving">Receive</option>
					</select>
				</div>
				<div class="pull-left input-container">
					<select class="form-control" id="playerSelect1"></select>
				</div>
			</form>
			<h3 class="pull-left" style="margin:0 0 0 5px" id="playerName1"></h3>
		</div>
		<div class="row">
			<div class="col-md-12 scrollable-container" style="">
				<div id="playerGraph1" class="graph-container">
					<div class="vid-container fullscreen">
						<video autoplay muted class="fullscreen" id="bgvid">
						</video>
						<!-- <div class="player-box">
							<h3 class="player-box-name">Player Name</h3>
							<button class="player-box-button btn btn-primary">View Player</button>
						</div> -->
					</div>
					<div class="splash-container">
						<h3 class="instruction-text centered">View a histogram of an NFL player's yards per attempt over the course of a season.</h3>
						<form id="form1Splash" class="form1 center-box clearfix">
							<div class="input-container" style="display:inline-block">
								<select class="form-control" id="yearSelect1Splash">
									<option value="2015" selected>2015</option>
									<option value="2014">2014</option>
									<option value="2013">2013</option>
									<option value="2012">2012</option>
								</select>
							</div>
							<div class="input-container" style="display:inline-block">
								<select class="form-control" id="typeSelect1Splash">
									<option value="rushing">Rush</option>
									<option value="receiving">Receive</option>
								</select>
							</div>
							<div class="input-container" style="display:inline-block">
								<select class="form-control" id="playerSelect1Splash"></select>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-sm-2 col-xs-8 col-xs-offset-2 col-sm-offset-0" style="padding-left:5px">
				<table id="statTable1" class="summary-table table table-condensed table-striped">
				<thead>
					<tr>
						<th>Metric</th>
						<th align="right">Value</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<form id="form2" class="player-bar hidden-chart hidden">
				<div class="pull-left input-container">
					<select class="form-control" id="yearSelect2">
						<option value="2015" selected>2015</option>
						<option value="2014">2014</option>
						<option value="2013">2013</option>
						<option value="2012">2012</option>
					</select>
				</div>
				<div class="pull-left input-container">
					<select class="form-control" id="typeSelect2">
						<option value="rushing">Rush</option>
						<option value="receiving">Receive</option>
					</select>
				</div>
				<div class="pull-left input-container">
					<select class="form-control" id="playerSelect2"></select>
				</div>
			</form>

			<h3 class="hidden-chart pull-left" style="margin:0" id="playerName2"></h3>
		</div>
		<div class="row hidden-chart">
			<div class="col-sm-12 scrollable-container" style="">
				<div id="playerGraph2" class="graph-container">
					<h3 class="instruction-text">Compare a second player</h3>
					<form id="form2Splash" class="form1 center-box clearfix">
						<div class="input-container" style="display:inline-block">
							<select class="form-control" id="yearSelect2Splash">
								<option value="2015" selected>2015</option>
								<option value="2014">2014</option>
								<option value="2013">2013</option>
								<option value="2012">2012</option>
							</select>
						</div>
						<div class="input-container" style="display:inline-block">
							<select class="form-control" id="typeSelect2Splash">
								<option value="rushing">Rush</option>
								<option value="receiving">Receive</option>
							</select>
						</div>
						<div class="input-container" style="display:inline-block">
							<select class="form-control" id="playerSelect2Splash"></select>
						</div>
					</form>
				</div>
			</div>
			<div class="col-sm-2 col-xs-8 col-xs-offset-2 col-sm-offset-0" style="padding-left:5px">
				<table id="statTable2" class="summary-table table table-condensed table-striped">
				<thead>
					<tr>
						<th>Metric</th>
						<th align="right">Value</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4 col-xs-offset-4" style="text-align:center;margin-bottom:5px;margin-top:5px">
				<button id="addSecondPlayer" class="btn btn-default btn-xs hidden">Show Second Graph</button>
			</div>
		</div>
		<div class="row stats-row">
			<div class="col-sm-12 play-container">
				<h4 id="playTableName1" class="hidden-chart pull-left">Top Player</h4>
				<div class="input-container pull-right">
					<select id="weekSelect1" class="form-control">
						<option value="allweeks">All weeks</option>
					</select>
				</div>
				<div class="clearfix"></div>
				<table id="playTable1" class="table table-condensed">
					<thead>
						<tr>
							<th align="right" data-sort="int">Week</th>
							<th data-sort="string">Game</th>
							<th data-sort="string">Type</th>
							<th align="right" data-sort="int">Yards</th>
							<th align="right" data-sort="int">Time</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
			<div class="col-sm-6 hidden-chart play-container">
				<h4 id="playTableName2" class="hidden-chart pull-left">Bottom Player</h4>
				<div class="input-container pull-right hidden-chart">
					<select id="weekSelect2" class="form-control">
						<option value="allweeks">All weeks</option>
					</select>
				</div>
				<table id="playTable2" class="table table-condensed">
					<thead>
						<tr>
							<th align="right" data-sort="int">Week</th>
							<th width="155px" data-sort="string">Game</th>
							<th data-sort="string">Type</th>
							<th align="right" data-sort="int">Yards</th>
							<th align="right" data-sort="int">Time</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock content %}

{% block scripts %}
	<script async src="{{ url_for('static', filename='js/vendor/highcharts.js') }}"></script>
	<script src="{{ url_for('static', filename='js/histogram.js') }}"></script>
{% endblock scripts %}