<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Yards Per Carry Histogram</title>
		<meta name="description" content="This is a lightweight tool that creates a histogram of a NFL player's yards per attempt over the course of a season.">
		<meta name="keywords" content="NFL, ff, fantasy, fantasy football,yards per carry,ypc,histogram,distribution,carries,yards,running backs,runningbacks,RB,RBBC,compare">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}?v=2" type="image/x-icon">
		<!-- <link async rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"> -->
		<!-- <link async rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}"> -->
		<!-- <link async rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
		<!-- <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"> -->
		<script>
			(function(w){
				"use strict";
				/* exported loadCSS */
				w.loadCSS = function( href, before, media ){
					// Arguments explained:
					// `href` [REQUIRED] is the URL for your CSS file.
					// `before` [OPTIONAL] is the element the script should use as a reference for injecting our stylesheet <link> before
						// By default, loadCSS attempts to inject the link after the last stylesheet or script in the DOM. However, you might desire a more specific location in your document.
					// `media` [OPTIONAL] is the media type or query of the stylesheet. By default it will be 'all'
					var doc = w.document;
					var ss = doc.createElement( "link" );
					var ref;
					if( before ){
						ref = before;
					}
					else {
						var refs = ( doc.body || doc.getElementsByTagName( "head" )[ 0 ] ).childNodes;
						ref = refs[ refs.length - 1];
					}

					var sheets = doc.styleSheets;
					ss.rel = "stylesheet";
					ss.href = href;
					// temporarily set media to something inapplicable to ensure it'll fetch without blocking render
					ss.media = "only x";

					// Inject link
						// Note: the ternary preserves the existing behavior of "before" argument, but we could choose to change the argument to "after" in a later release and standardize on ref.nextSibling for all refs
						// Note: `insertBefore` is used instead of `appendChild`, for safety re: http://www.paulirish.com/2011/surefire-dom-element-insertion/
					ref.parentNode.insertBefore( ss, ( before ? ref : ref.nextSibling ) );
					// A method (exposed on return object for external use) that mimics onload by polling until document.styleSheets until it includes the new sheet.
					var onloadcssdefined = function( cb ){
						var resolvedHref = ss.href;
						var i = sheets.length;
						while( i-- ){
							if( sheets[ i ].href === resolvedHref ){
								return cb();
							}
						}
						setTimeout(function() {
							onloadcssdefined( cb );
						});
					};

					// once loaded, set link's media back to `all` so that the stylesheet applies once it loads
					ss.onloadcssdefined = onloadcssdefined;
					onloadcssdefined(function() {
						ss.media = media || "all";
					});
					return ss;
				};
				// commonjs
				if( typeof module !== "undefined" ){
					module.exports = w.loadCSS;
				}
			}(this));
		</script>
		<style type="text/css">
			.fouc { display:none; }
		</style>
		<script type="text/javascript">
				var html=document.getElementsByTagName("html")[0];
				document.addEventListener("DOMContentLoaded", function(event) { html.className = html.className.replace( /(?:^|\s)fouc(?!\S)/g , '' ) });
				html.className += " fouc";
		</script>

		<script>
		    loadCSS("{{ url_for('static', filename='css/bootstrap.min.css') }}");
		    loadCSS("{{ url_for('static', filename='css/fonts.css') }}");
		    loadCSS("{{ url_for('static', filename='css/style.css') }}");
		</script>
	</head>
	<body>
	
	<div class="errors"></div>
	<div id="overlay"><div class="spinner"></div></div>
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<!-- <a class="navbar-brand" href="#"></a> -->
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li id="histogram" class="active"><a href="/">Histogram</a></li>
					<li id="top" class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Top 100 <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/rushers">Rushers</a></li>
							<li><a href="/receivers">Receivers</a></li>
						</ul>
					</li>
				</ul>
				<!-- <ul class="nav navbar-nav navbar-right">
					<a href="https://www.github.com/calvinhu/ypc-graph" target="_blank" class="btn btn-simple"><i class="fa fa-2x fa-github"></i></a>
					<a href="mailto:ypcgraph@gmail.com" target="_blank" class="btn btn-simple"><i class="fa fa-envelope fa-2x"></i></a>
				</ul> -->
			</div><!--/.nav-collapse -->
		</div>
	</nav>

	{% block content %}{% endblock content %} 

	<footer id="footer" class="row">
		<p class="pull-right" style="margin: 5px 20px">(<a href="http://www.github.com/calvinhu/ypc-graph" target="_blank">github</a>) (<a href="mailto:ypcgraph@gmail.com">email</a>)</p>
	</footer>

	<script type=text/javascript>
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
	<script src="{{ url_for('static', filename='js/vendor/modernizr-2.6.2-respond-1.1.0.min.js') }}"></script>
	<script  src="{{ url_for('static', filename='js/vendor/jquery-1.11.0.min.js') }}"></script>
	<script async src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}"></script>
	<script async src="{{ url_for('static', filename='js/vendor/highcharts.js') }}"></script>
	<script src="{{ url_for('static', filename='js/vendor/stupidtable.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/util.js') }}"></script>
	<script>
	 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	 ga('create', 'UA-68627421-1', 'auto');
	 ga('send', 'pageview');

	</script>

	{% block scripts %}{% endblock scripts %}
	</body>
</html>
