{% extends "layout.html" %}
{% block content %}
<script type=text/javascript>
</script>
<div class="container" style="margin: 20px auto 40px auto">
	<div class="row">
		<span style="display:none" id="type">{{type}}</span>
		<div class="pull-right input-container">
			<select class="form-control" id="yearSelect">
				<option value="2015" selected>2015</option>
				<option value="2014">2014</option>
				<option value="2013">2013</option>
				<option value="2012">2012</option>
			</select>
		</div>
		<div class="clearfix"></div>
		<div class="col-sm-6">
			<h3 style="margin-top:0" class="pull-left">Top Rushing</h3>
			<table id="rushingTable" class="table table-condensed table-striped" style="display:none">
				<thead>
					<tr>
						<th data-sort="string">Player</th>
						<th data-sort="string">Team</th>
						<th data-sort="int" style="text-align:right">Rushing Yards</th>
						<th data-sort="int" style="text-align:right">Carries</th>
						<th data-sort="float" style="text-align:right">Avg. YPC</th>
						<th data-sort="int" style="text-align:right">Rushing TDs</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		<div class="col-sm-6">
			<h3 style="margin-top:0" class="pull-left">Top Receiving</h3>
			<table id="receivingTable" class="table table-condensed table-striped" style="display:none">
				<thead>
					<tr>
						<th data-sort="string">Player</th>
						<th data-sort="string">Team</th>
						<th data-sort="int" style="text-align:right">Rec. Yards</th>
						<th data-sort="int" style="text-align:right">Receptions</th>
						<th data-sort="float" style="text-align:right">Avg. YPR</th>
						<th data-sort="int" style="text-align:right">Rec. TDs</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock content %}

{% block scripts %}
	<script src="{{ url_for('static', filename='js/top.js') }}"></script>
{% endblock scripts %}